body {
    margin: 0;
}

.main_container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
    padding: 0;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 9px;
    width: 320px;
    height: 496px;
}

.card_qr {
    background-image: url(../img/image-qr-code.png);
    background-size: contain;
    margin: 16px;
    border-radius: 9px;
    width: 288px;
    height: 288px;
}

.card_text_container {
    margin: auto 35px;
}

.card_title {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.card_text {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 11px;
    height: 6vh;
}

.footer p {
    margin: 0;
    padding: 0;
}

.footer a {
    color: hsl(228, 45%, 44%);
}