@use 'variables';

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$state-500;
    height: 94svh;
    width: 100%;
}

.card-container {
    background-color: variables.$white;
    height: 500px;
    width: 320px;
}

.image-container__image {
    height: 288px;
    width: 288px;
}